## Testing User Classification

<hr>

First let's select some random users from Twitter and label them.

In [1]:
from user_classification import *

In [2]:
import twitter

CONSUMER_KEY = 'oEWIMZpIUQCULqXLVAydLsUoT'
CONSUMER_SECRET = 'F31ZPD7rRlzkrsbmE5JqMs8tWQjLrD3TxkNObNNeHz2nBbDwnt'
OAUTH_TOKEN = '1303957818169585664-5xyRbIo7kcM19IQjT7t2OdtBS5G0hw'
OAUTH_TOKEN_SECRET = 'WKZNyiVxqMyfxL3JoHiaU30axOrpGu7YasKjtmYhnz2Ym'

auth = twitter.oauth.OAuth(OAUTH_TOKEN,
                          OAUTH_TOKEN_SECRET, 
                          CONSUMER_KEY, 
                          CONSUMER_SECRET)

twitter_api = twitter.Twitter(auth=auth)

In [3]:
# df = pd.read_csv('Data/labelled_users.csv')

In [4]:
# user = list(df.screen_name.to_numpy())
# label = list(df.clas_2.to_numpy())

In [5]:
def lowercase(x):
    return x.lower()

In [6]:
# label = [lowercase(x) for x in label]

users = [('VictorCollell','personal'),
         ('LaVanguardia', 'news'),
         ('Repsol', 'business'),
         ('Basetis', 'business'),
         ('Palomero14', 'personal')]

user = [u for u, l in users]
label = [l for u, l in users]

In [7]:
dataset = Dataset()

In [8]:
# dataset.add_list_user(twitter_api, user, label)
dataset.load(path='Data/test.csv')

In [9]:
len(dataset.df)

150

In [10]:
dataset.df.head()

,collective_activeness,collective_influence,degree_inclination,fav_count,label,life_time,mentions,plain_statuses,promotion_score,replies_given,retweets,std_hashtags,std_url,total_hashtag,total_url,user,verified
0,497.6,651.0,4.8,573.0,personal,9.188227,14.0,0.0,10.0,2.0,6.0,0.674949,0.421637,3.0,2.0,RepsolJackLeeds,0.0
1,1080.9,6275.0,1.8,5423.0,personal,2.617385,2.0,0.0,17.0,0.0,1.0,2.108185,0.316228,40.0,1.0,artemania2018,0.0
2,4866.6,49343.0,0.0,2278.0,corporative,9.577002,9.0,0.0,17.0,0.0,0.0,0.843274,0.483046,4.0,3.0,Repsol,1.0
3,3287.2,1197.0,4.2,902.0,personal,10.830938,5.0,0.0,23.0,1.0,3.0,1.763834,0.516398,10.0,4.0,JuanBellas,0.0
4,943.7,324.0,3.2,19.0,personal,9.979466,10.0,0.0,13.0,0.0,8.0,0.843274,0.000000,6.0,0.0,tarteka,0.0

In [11]:
# dataset.save(path='Data/test_multi_class_2.csv')

In [12]:
# data = dataset.get_training_data()

In [13]:
data = dataset.get_training_data(test_size = 0.2, to_categorical=False)

In [14]:
model = Model(model_type='mlp_binary')

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 128)               2048
_________________________________________________________________
activation (Activation)      (None, 128)               0
_________________________________________________________________
dense_1 (Dense)              (None, 128)               16512
_________________________________________________________________
activation_1 (Activation)    (None, 128)               0
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 129
_________________________________________________________________
activation_2 (Activation)    (None, 1)                 0
=================================================================
Total params: 18,689
Trainable params: 18,689
Non-trainable params: 0
_________________________________________________________________

In [15]:
model.train(data, n_epochs=12)

Epoch 1/12
60/60 [==============================] - 1s 11ms/step - loss: 0.5720 - accuracy: 0.7333
Epoch 2/12
60/60 [==============================] - 1s 11ms/step - loss: 0.4111 - accuracy: 0.8500
Epoch 3/12
60/60 [==============================] - 1s 14ms/step - loss: 0.3715 - accuracy: 0.8583
Epoch 4/12
60/60 [==============================] - 1s 11ms/step - loss: 0.3233 - accuracy: 0.8833
Epoch 5/12
60/60 [==============================] - 1s 12ms/step - loss: 0.3090 - accuracy: 0.8833
Epoch 6/12
60/60 [==============================] - 0s 8ms/step - loss: 0.3071 - accuracy: 0.8750
Epoch 7/12
60/60 [==============================] - 1s 12ms/step - loss: 0.2840 - accuracy: 0.9083
Epoch 8/12
60/60 [==============================] - 1s 11ms/step - loss: 0.2665 - accuracy: 0.8917
Epoch 9/12
60/60 [==============================] - 1s 11ms/step - loss: 0.2810 - accuracy: 0.8667
Epoch 10/12
60/60 [==============================] - 1s 10ms/step - loss: 0.2631 - accuracy: 0.9083
Epoch 11/12
60/60 [==============================] - 1s 9ms/step - loss: 0.2522 - accuracy: 0.9000
Epoch 12/12
60/60 [==============================] - 0s 6ms/step - loss: 0.2492 - accuracy: 0.8917

In [16]:
model.evaluate(data)

15/15 [==============================] - 0s 8ms/step - loss: 0.2436 - accuracy: 0.9000

[0.2436286062002182, 0.8999999761581421]

In [17]:
model.save(name='16_09_v1.h5')

In [18]:
#model = Model(model_type='mlp', name='test_multi_class.h5')

In [19]:
test_dataset = Dataset()
test_dataset.load('Data/test_set_dataset.csv')

In [20]:
# df = pd.read_csv('Data/test_set.csv')

In [21]:
# user = list(df.screen_name.to_numpy())
# label = list(df.clas_1.to_numpy())

In [22]:
# new_dataset = Dataset()
# new_dataset.add_list_user(twitter_api, user, label)

In [23]:
# new_dataset.save('Data/test_set_dataset.csv')

In [24]:
model.test_set(test_dataset)

 Accuracy: 0.58

0.58

In [25]:
columns = list(test_dataset.df.columns)
columns.remove('user')
columns.remove('label')
pred = model.predict(test_dataset.get_data(columns))

In [26]:
y = test_dataset.df.label.to_numpy()

In [27]:
y = [x.lower() for x in y]
y = np.array(y)

In [28]:
print(y[:])

['corporative' 'corporative' 'corporative' 'personal' 'corporative'
 'corporative' 'personal' 'personal' 'personal' 'corporative' 'personal'
 'corporative' 'personal' 'personal' 'personal' 'corporative' 'personal'
 'corporative' 'corporative' 'corporative' 'personal' 'personal'
 'corporative' 'personal' 'personal' 'personal' 'personal' 'corporative'
 'corporative' 'personal' 'corporative' 'personal' 'personal'
 'corporative' 'corporative' 'corporative' 'corporative' 'corporative'
 'corporative' 'personal' 'corporative' 'corporative' 'corporative'
 'personal' 'corporative' 'corporative' 'personal' 'corporative'
 'personal' 'personal']

In [29]:
print(pred[:])

['personal' 'personal' 'personal' 'personal' 'personal' 'personal'
 'personal' 'personal' 'personal' 'corporative' 'personal' 'corporative'
 'personal' 'personal' 'personal' 'personal' 'personal' 'corporative'
 'corporative' 'personal' 'personal' 'personal' 'corporative' 'personal'
 'personal' 'personal' 'personal' 'corporative' 'personal' 'personal'
 'personal' 'personal' 'personal' 'personal' 'personal' 'personal'
 'personal' 'personal' 'personal' 'personal' 'personal' 'corporative'
 'personal' 'personal' 'personal' 'personal' 'corporative' 'personal'
 'personal' 'personal']

In [30]:
np.sum(y==pred)

29

In [31]:
len(y)

50